prixMaxi : <input type="number"  [(ngModel)]='prixMaxi' /> <br/>   <!--c'est le binding bi directionnel ;ça permet de relier a prixMaxi  dans les deux sens..si on change ici ça change labas et vice versa..attention pour pouvoir l utiliser il faut importé FormsModule dans le app.module.ts en haut et a  coté de BrowserModule ..pdf angular_v2 page 41-->
<input type="button"  value="Rechercher produits"
       (click)="onRechercheProd($event)" />
...
<br/>
<hr/>
<table border="1" >
   <tr><th>numero</th> <th>label</th><th>prix</th><th>supprimer</th></tr>
    <tr *ngFor="let p of tabProduit">
    <!--  <td>{{p.numero}}</td> <td>{{p.label}}</td><td>{{p.prix}}</td><td><img width="35" alt="supp" src="C:\Users\Administrateur\Desktop\delete.pnj" (click)="onDeleteProd(p.numero)" /></td>  -->
    <td>{{p.numero}}</td> <td>{{p.label}}</td><td>{{p.prix}}</td><td><img width="35" alt="supp" src="assets/delete.png" (click)="onDeleteProd(p.numero)" /></td>
    </tr>
</table>

<hr/>
label :<input type="text" [(ngModel)]='nouveauProduit.label' /> <br/>
prix :<input type="number" [(ngModel)]='nouveauProduit.prix' /> <br/>
<input type="button" value="Ajouter produit"
      (click)="onAjoutProd($event)" />
